<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <form th:action="@{/products/create}" th:object="${product}"
          method="post" enctype="multipart/form-data">

        <input type="text" th:field="*{name}" placeholder="Tên sản phẩm" class="form-control mb-2">

        <input type="number" th:field="*{price}" placeholder="Giá" class="form-control mb-2">

        <label>Upload ảnh:</label>
        <input type="file" name="imageProduct" class="form-control mb-2"
               accept="image/png,image/jpeg">

        <label>Hoặc nhập link ảnh:</label>
        <input type="text" name="imageUrl" class="form-control mb-3"
               placeholder="https://example.com/image.jpg">

        <select th:field="*{category.id}" class="form-control mb-3">
            <option th:each="c : ${categories}"
                    th:value="${c.id}"
                    th:text="${c.name}">
            </option>
        </select>

        <button type="submit" class="btn btn-success">Add Product</button>
    </form>
</div>
</body>
</html>
